[include]
	path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status
	co = checkout
	sw = switch
	pr = pull --rebase
	prom = pull --rebase origin master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	hist = log --all --graph --pretty
	rb = "!f() { git rebase -i HEAD~$1; }; f"	
	fap = fetch --prune
	fapr = "!f() { git fetch --prune && git pr; }; f"
	yolo = push -f
	i = show --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset%n%s' -s HEAD
[init]
	defaultBranch = main
[safe]
	directory = /workspace
[credential]
	helper = "!f() { /home/vscode/.vscode-server/bin/034f571df509819cc10b0c8129f66ef77a542f0e/node /tmp/vscode-remote-containers-5ff8a77f-6eac-41fc-b7fd-677ce91000bb.js git-credential-helper $*; }; f"
