[includeIf "gitdir:~/dev/work/"]
        path = ~/.gitconfig.local

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status
	co = checkout
	sw = switch
	pr = pull --rebase
	prom = pull --rebase origin master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	hist = log --all --graph --pretty
	rb = "!f() { git rebase -i HEAD~$1; }; f"	
	fap = fetch --prune
	fapr = "!f() { git fetch --prune && git pr; }; f"
	yolo = push -f
	i = show --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset%n%s' -s HEAD
[init]
	defaultBranch = main
